<h2>Course Info</h2>
<!-- Informacao sobre o id do curso selecionado -->
    <!-- Course ID = {{courseId}} -->
<hr/>

<!-- incluimos uma variavel de template -->
<!-- só exibe o formulario caso o curso tenha informacoes -->
<form #courseForm="ngForm" *ngIf="course">
    <!-- tags e classes do bootstrap -->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <!-- two-way data bind (le e altera a variavel [()]) -->
            <!-- quer pegar o input e output -->
            <!-- passa os atributos ngModel para a variavel do template -->
            <input [(ngModel)]="course.name" required name="name" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}" class="form-control" alt="input" title="courseName">
            <!-- variaveis de template -->
            <!-- {{ courseName.value }}
                 {{ courseName.valid }}
                 {{ courseName.invalid }} -->
            <div class="invalid-feedback">
                <span>Course name is required</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="course.price" required name="price" #coursePrice="ngModel" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control" alt="input" title="coursePrice">
            <div class="invalid-feedback">
                <span>Course price is required</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Rating:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="course.rating" required name="rating" #courseRating="ngModel" [ngClass]="{'is-invalid': courseRating.invalid}" class="form-control" alt="input" title="courseRating">
            <div class="invalid-feedback">
                <span>Course price is required</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <!-- descricao é string, entao tem um textarea ao inves de input -->
            <textarea [(ngModel)]="course.description" required name="description" #courseDescription="ngModel" [ngClass]="{'is-invalid': courseDescription.invalid}" class="form-control" alt="input" title="courseDescription"></textarea>
            <div class="invalid-feedback">
                <span>Course description is required</span>
            </div>
        </div>
    </div>
    <!-- o disabel testa a variavel de template courseForm, se algum campo tiver erro ele desabilita o botao save - verificar mais informacoes na internet - sempre entre colchetes a propriedade -->
    <!-- ao clicar no botao o metodo save sera chamado do componente -->
    <!-- routerlink caminho de volta -->
    <button [disabled]="courseForm.invalid" type="button" (click)="save" class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/courses']" type="button" class="btn btn-secundario">Back</button>
</form>